@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:100,200,300,400,500,600,700,800,900');

html {
    scroll-behavior: smooth;
}

body {
    text-align: center;
    background-color: #292a36;
    color: grey;
    font-weight: 500;
    font-family: 'Ubuntu';
    font-size: 20px;
}

.mainHead {
    text-align: center;
    font-size: 65px;
    margin-top: 15%;
    font-weight: 900;
    font-family: 'Roboto';
}

.proHead {
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    font-family: 'Ubuntu';
    color: white;
}

.byP {
    text-align: center;
    font-family: 'Ubuntu';
    color: white;
    font-weight: 500;
    font-size: 15px;
}

.picture img {
    width: 100%;
    height: 80%;
}

.picture {
    display: inline-block;
    width: 225px;
    height: 300px;
    border-radius: 5px;
    margin-right: 2.5px;
    margin-left: 2.5px;
    color: grey;
    cursor: pointer;
    border: 1px solid;
    border-color: grey;
    font-size: 30px;
    font-family: 'Ubuntu';
    text-decoration: none;
    background: #23272a;
    transition: all .5s ease-out;
}

.picture:hover {
    transition: all .5s ease-in;
    transform: scale(1.05);
}

.choicePage {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}

.proSelect {
    margin-bottom: 5%;
}

#descFrame {
    width: 100%;
    height: 50px;}

.homeButton {
    width: 150px;
    height: 50px;
    color: white;
    padding: 0px 5px;
    font-size: 15px;
    font-family: 'Roboto';
    background: #23272a;
    border-radius: 5px;
    border-color: grey;
    border-width: 1px;
    margin-top: 15px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    border-style: solid;
}

.homeButton:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.05);
}

.womginxBody {
    text-align: center;
    margin-top: 10%;
    font-family: 'Ubuntu';
    font-size: 20px;
    word-wrap: break-word;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.womginxHead {
    color: grey;
    font-size: 80px;
    font-family: 'Roboto';
}

.corrosionHead {
    color: grey;
    font-size: 80px;
    font-family: 'Roboto';
}

.rhodiumBody {
    text-align: center;
    margin-top: 10%;
}

.rhodiumHead {
    color: grey;
    font-size: 80px;
    font-family: 'Roboto';
}

.corrosionBody {
    text-align: center;
    margin-top: 10%;
}

.navbar {
    background-color: #23272a;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    letter-spacing: 0.8px;
    height: 50px;
}

.navbar a {
    color: white;
    display: block;
    float: right;
    font-size: 17px;
    padding: 12px 15px;
    font-family: 'Ubuntu';
    text-align: center;
    text-decoration: none;
}

.navbar i {
    color: white;
    display: block;
    float: left;
    margin-left: 25px;
    font-size: 30px;
    padding: 12px 15px;
    text-align: center;
    text-decoration: none;
}

.navbar i:hover {
    cursor: pointer;
}

.navbar a:hover {
    cursor: pointer;
    text-decoration: underline;
}

input[name="url"] {
    width: 50%;
    height: 50px;
    padding: 0px 5px;
    color:  white;
    font-family: 'Roboto';
    background: #23272a;
    font-size: 20px;
    border-radius: 5px;
    border-color: grey;
    border-width: 1px;
    border: 1px solid grey;
    transition: all .2s ease-in-out;
}

input[name="url"]:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.01);
}

#iframe_frame {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    border: none;
    background-color: white;
}

.proButton {
    width: 50px;
    height: 52px;
    color: white;
    padding: 0px 5px;
    font-size: 15px;
    font-family: 'Roboto';
    background: #23272a;
    border-radius: 5px;
    border-color: grey;
    border-width: 1px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    border-style: solid;
}

button:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}

.credBody {
    background-color: #292a36;
	text-align: center;
	color: grey;
	font-size: 30px;
	font-family: 'Ubuntu';
	margin-top: 5%;
}

.credHead {
    font-size: 69px;
	color: grey;
	text-align: center;
	font-family: 'Roboto';
    margin-top: 55px;
}

footer {
    position: fixed;
    margin-top: 10px;
    left: 0;
    right: 0;
    bottom: 10px;
    font-family: 'Ubuntu';
    font-size: 15px;
    color: grey;
}

footer, footer a {
    font-size: 15px;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.faqFoot {
    position: relative;
}

.settingsBody {
    margin-top: 3%;
    color: grey;
    font-size: 45px;
    font-family: 'Ubuntu';
    font-weight: 500;
}

.settingsHead {
    color: grey;
    font-size: 80px;
    font-family: 'Roboto';
}

.settingsP {
    font-size: 25px;
}

.settingsImg {
    width: 200px;
    height: 200px;
}

.settingsInput {
    width: 50%;
    height: 50px;
    padding: 0px 5px;
    color:  white;
    font-family: 'Roboto';
    background: #23272a;
    font-size: 20px;
    border-radius: 5px;
    border-color: grey;
    border-width: 1px;
    transition: all .2s ease-in-out;
    border-style: solid;
}

.settingsInput:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.01);
}

.settingsButton {
    width: 90px;
    height: 50px;
    color: white;
    padding: 0px 5px;
    font-size: 15px;
    font-family: 'Roboto';
    background: #23272a;
    border-radius: 5px;
    border-color: grey;
    border-width: 1px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    border-style: solid;
}

.settingsButton:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}

.settingsButton[name="cloakButton"] {
    width: 50px;
    height: 52px;
    padding: 0px 5px;
    margin-left: 5px;
}

.faqBody {
    text-align: center;
    background-color: #292a36;
    font-family: 'Ubuntu';
    font-weight: 600;
}

.faqHead {
    text-align: center;
    color: grey;
    font-size: 69px;
    font-family: 'Roboto';
    margin-top: 65px;
    font-weight: 800;
}

.faqQ {
    color: grey;
    font-size: 30px;
}

.faqA {
   color: grey;
   font-size: 20px;
}

.errorHead {
    text-align: center;
	color: grey;
	font-size: 69px;
	font-family: 'Roboto';
}

.errorButton {
    width: 1000px;
    height: 50px;
    color: #FFF;
    padding: 0px 5px;
    font-family: "Roboto";
    font-size: 20px;
    background: #23272a;
    border-radius: 5px;
    border: solid 1px rgb(5px);
    border-color: grey;
    border-width: 1px;
    cursor: pointer;
}

.errorButton:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}

.errorBody {
	text-align: center;
    color: grey;
	font-size: 50px;
}

.errorDiv {
	font-size: 30px;
}

.siteButton {
    width: 150px;
    height: 50px;
    text-align: center;
    color: white;
    padding: 0px 5px;
    font-size: 17px;
    font-family: 'Roboto';
    background: #23272a;
    border-radius: 5px;
    border-color: grey;
    border-width: 1px;
    margin-top: 15px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    border-style: solid;
}